<nav class="categoryNav">
  <div>
    <a class="categoryLink" [class.isActive]="!filter()" href="/" (click)="clearFilter(); $event.preventDefault()">
      <h1 class="truncate">All</h1>
    </a>
  </div>
  <div>
    <a class="categoryLink" [class.isActive]="filter() === 'electronics'" href="/electronics" (click)="updateFilter('electronics'); $event.preventDefault()">
      <h1 class="truncate">Electronics</h1>
    </a>
  </div>
  <div>
    <a class="categoryLink" [class.isActive]="filter() === 'jewelery'" href="/jewelery" (click)="updateFilter('jewelery'); $event.preventDefault()">
      <h1 class="truncate">Jewelery</h1>
    </a>
  </div>
  <div>
    <a class="categoryLink" [class.isActive]="filter() === 'men\'s clothing'" href="/men's clothing" (click)="updateFilter('men\'s clothing'); $event.preventDefault()">
      <h1 class="truncate">Men's Clothing</h1>
    </a>
  </div>
  <div>
    <a class="categoryLink" [class.isActive]="filter() === 'women\'s clothing'" href="/women's clothing" (click)="updateFilter('women\'s clothing'); $event.preventDefault()">
      <h1 class="truncate">Women's Clothing</h1>
    </a>
  </div>
</nav>
<div class="bg-zinc-900/10 mx-auto h-[1px] shadow-sm shadow-zinc-900/10 px-12"></div>
<div class="container mx-auto">
  <div class="cardGroup">
    @for (p of filteredProduct(); track p.id) {
      <ngs-product-card [product]="p"></ngs-product-card>
<!--      @if (!$last) {-->
<!--        <div class="line"></div>-->
<!--      }-->
    }
  </div>
</div>
PRODUITS: {{ products() | json }}
